<p-panel header="Title">
  <div class="grid">
    <div class="col-2">
      Department
    </div>
    <div class="col-4">
      <p-dropdown placeholder="Select a Department" [options]="departments" [(ngModel)]="department" optionLabel="name">
      </p-dropdown>
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      Gender
    </div>
    <div class="col-6">
      <div class="grid">
        <div class="col-2">
          <p-radioButton value="Female" label="Female" [(ngModel)]="gender">
          </p-radioButton>
        </div>
        <div class="col-2">
          <p-radioButton value="Male" label="Male" [(ngModel)]="gender">
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      FirstName
    </div>
    <div class="col-4">
      <input type="text" pInputText [(ngModel)]="firstName" />
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      LastName
    </div>
    <div class="col-4">
      <input type="text" pInputText [(ngModel)]="lastName" />
    </div>
  </div>
</p-panel>
