<p-panel header="Title">
  <div class="grid">
    <div class="col-2">
      Department
    </div>
    <div class="col-4">
      <p-dropdown placeholder="Select a Department" [options]="departments" [(ngModel)]="department" optionLabel="name">
      </p-dropdown>
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      Gender
    </div>
    <div class="col-6">
      <div class="grid">
        <div *ngFor="let item of Gender | keyvalue" class="col-2">
          <p-radioButton [value]="item.value" [label]="item.value" [(ngModel)]="gender">
          </p-radioButton>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      FirstName
    </div>
    <div class="col-4">
      <input type="text" pInputText [(ngModel)]="firstName" />
    </div>
  </div>
  <div class="grid">
    <div class="col-2">
      Gender
    </div>
    <div class="col-4">
      <input type="text" pInputText [(ngModel)]="lastName" />
    </div>
  </div>
  <div class="grid">
    <div class="col-1">
      <button pButton type="button" label="search" (click)="getEmployee()"></button>
    </div>
    <div class="col-1">

      <button pButton pRipple label="Add" (click)="gotoSave()"></button>

    </div>
  </div>
</p-panel>
<p-table [value]="employees" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Gender</th>
      <th>Department</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.department.name}}</td>
    </tr>
  </ng-template>
</p-table>
