<p-panel header="SAVE">
  <form [formGroup]="employeeForm">
    <div class="grid">
      <div class="col-2">
        Department
      </div>
      <div class="col-4">
        <p-dropdown placeholder="Select a Department" [options]="departments" formControlName="department"
          optionLabel="name">
        </p-dropdown>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        Gender
      </div>
      <div class="col-6">
        <div class="grid">
          <div *ngFor="let item of Gender | keyvalue" class="col-2">
            <p-radioButton [value]="item.value" [label]="item.value" formControlName="gender">
            </p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        FirstName
      </div>
      <div class="col-4">
        <input type="text" pInputText formControlName="firstName" />
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        Gender
      </div>
      <div class="col-4">
        <input type="text" pInputText formControlName="lastName" />
      </div>
    </div>
    <div class="grid">

      <div class="col-1">

        <button pButton pRipple label="Save" (click)="saveEmployee()"></button>

      </div>
    </div>
  </form>
</p-panel>
